
<qty-selector class="flex flex-grow border-black mx-auto border rounded h-16 p-1.5 items-center w-full">
    <button
        {% if item != blank %}
            data-qty="{{ item.quantity | minus: 1 }}"
            data-update="{{ item.key }}"
        {% else %}
            data-decrement
        {% endif %}
        type="button"
        class="flex-grow w-3 h-10 p-1 py-2.5"
        aria-label="Increment Quantity"
    >
        {% render 'icons' icon: 'minus' %}
    </button>
    <input
        class="flex-grow w-10 h-full text-center md:px-2 uppercase tracking-wide bg-transparent"
        readonly
        data-qty
        {% if item != blank %}
            value="{{ item.quantity }}"
        {% else %}
            value="1"
        {% endif %}
        id="product_qty-{{ product.handle }}"
    >
    <label class="sr-only" for="product_qty-{{ product.handle }}">Quantity of {{ product.title }} to Add</label>
    <button
        {% if item != blank %}
            data-qty="{{ item.quantity | plus: 1 }}"
            data-update="{{ item.key }}"
        {% else %}
            data-increment
        {% endif %}
        type="button"
        class="flex-grow h-10 w-3 p-1 py-2.5" 
        aria-label="Increment Quantity"
    >
        {% render 'icons' icon: 'plus' %}
    </button>
</qty-selector>
