{% liquid
    assign family = false
    assign index = false
    for collection in product.collections
      if collection.title contains 'Family'
        assign family = collection
      endif
    endfor
    if family 
        for sibling in family.products
            if sibling.handle == product.handle
                assign index = forloop.index
            endif
        endfor
    endif
%}

<product-tile {% if family %} data-family="{{ family.handle }}" {% endif %} class="flex flex-col h-full p-2">
    <span class="block group">
        <div class="w-full pt-full h-0 relative">
            <a href="{{ collection.url }}{{ product.url }}" class="absolute -z-1 {% unless product.featured_image %}bg-gray-300{% endunless %} top-0 left-0 w-full h-full duration-500 transition group-hover:scale-105">
                {% liquid
                    if product.featured_image
                        render 'optimized-image', imageObject: product.featured_image, square: true
                    endif
                %}
            </a>
 
            <div class="hidden md:block absolute overflow-hidden z-10 {% unless product.images[1] %}bg-gray-300{% endunless %} top-0 left-0 w-full h-full ">
                <a class="absolute top-0 left-0 w-full h-full duration-500 transition-transform md:opacity-0 group-hover:md:opacity-100 group-hover:scale-105" href="{{ collection.url }}{{ product.url }}">
                    {% liquid
                        if product.images[1]
                            render 'optimized-image', imageObject: product.images[1], square: true
                        endif
                    %}
                </a>
            </div>

            <a href="{{ collection.url }}{{ product.url }}"  class="absolute top-0 left-0 w-full h-max flex flex-wrap">
                {% for tag in product.tags %}
                    {% if tag contains 'label::' %}
                        {% liquid
                            assign tag_segments = tag | split: '::'
                            assign label = tag_segments[1]
                            assign color = tag_segments[2] | default: '#ffffff'
                            assign color_difference = color | color_difference: '#000000'
                        %}
                        <span class="m-2 shadow py-3 px-5 text-[10px] uppercase tracking-[3.5px] opacity-90 {% if color_difference < 500 %}text-white{% endif %} w-max" style="background-color: {{ color }};">{{ label }}</span>
                    {% endif %}
                {% endfor %}
            </a>
            <div class="hidden md:block absolute {{ settings.product_qb_position }} w-full left-0 md:opacity-0 group-hover:opacity-100 transition-base z-10">
                {% render 'quick-shop' product: product %}
            </div>  
        </div>

        <div data-info class="flex flex-col pt-2 pb-8 text-left w-[90%] mx-auto relative">
            <div class="md:hidden relative my-2">
                {% render 'quick-shop' product: product %}
            </div>
            {% if family.products.size > 1 and family and settings.show_product_swatches %}
                <div class="bg-white md:absolute my-2 md:my-0 top-0 left-0 w-full h-full flex items-center transition-short md:opacity-0 group-hover:opacity-100">
                    <swiper-carousel
                        data-initial-slide="{{ index | minus: 1 }}"
                        data-space-between="0"
                        data-slides-per-scroll="2"
                        data-slides-per-view="5"
                        {% if family.products.size > 4 %} 
                            data-centered="true"
                            data-centered-bounds="true"
                        {% endif %}
                        class="hidden md:block w-full h-full opacity-0 transition-base relative overflow-hidden px-1"
                    >
                        <!-- importanting height styles cuz swiper is dumb in this regard -->
                        <div style="height: 48px !important;" class="swiper-wrapper items-center p-0">
                            {% for sibling in family.products %}
                                <div style="height: 48px !important;" class="swiper-slide w-full border flex items-center justify-center {% unless sibling.handle == product.handle %} border-transparent hover:border-midGray {% else %} border-current {% endunless %}">
                                    <button data-product-url="{{ sibling.url }}" class="w-full h-full">
                                        {{ sibling.featured_image | image_url: width: 100 | image_tag: width: 80, height: 80, class: 'object-contain h-full w-full object-center' }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="after:content-[''] after:-top-1 after:-bottom-1 after:absolute after:right-full after:mr-[1px] after:border after:border-white after:block bg-white border border-midGray absolute top-0 h-12 w-1/5 right-1 disabled:hidden z-10 flex items-center justify-center -mr-1" data-next>
                            <span class="block h-3 w-3 transform -rotate-90">{% render 'icons' icon: 'chevron' %}</span>
                        </button>
                        <button class="after:content-[''] after:-top-1 after:-bottom-1 after:absolute after:left-full after:ml-[1px] after:border after:border-white after:block bg-white border border-midGray absolute top-0 h-12 w-1/5 left-1 disabled:hidden z-10 flex items-center justify-center -ml-1" data-prev>
                            <span class="block w-3 h-3 rotate-90">{% render 'icons' icon: 'chevron' %}</span>
                        </button>
                    </swiper-carousel>
                    <swiper-carousel
                        data-initial-slide="{{ index | minus: 1 }}"
                        data-space-between="0"
                        data-slides-per-scroll="1"
                        data-slides-per-view="3"
                        {% if family.products.size > 2 %} 
                            data-centered="true"
                            data-centered-bounds="true"
                        {% endif %}
                        class="md:hidden h-full opacity-0 transition-base relative px-1 overflow-hidden"
                    >
                        <!-- importanting height styles cuz swiper is dumb in this regard -->
                        <div style="height: 48px !important;" class="swiper-wrapper items-center p-0">
                            {% for sibling in family.products %}
                                <div style="height: 48px !important;" class="swiper-slide w-full border flex items-center justify-center {% unless sibling.handle == product.handle %} border-transparent hover:border-midGray {% else %} border-current {% endunless %}">
                                    <button data-product-url="{{ sibling.url }}" class="w-full h-full">
                                        {{ sibling.featured_image | image_url: width: 100 | image_tag: width: 80, height: 80, class: 'object-contain h-full w-full object-center' }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="after:content-[''] after:-top-1 after:-bottom-1 after:absolute after:right-full after:mr-[1px] after:border after:border-white after:block bg-white border border-midGray absolute top-0 h-12 w-1/6 right-1 disabled:hidden z-10 flex items-center justify-center -mr-1" data-next>
                            <span class="block h-3 w-3 transform -rotate-90">{% render 'icons' icon: 'chevron' %}</span>
                        </button>
                        <button class="after:content-[''] after:-top-1 after:-bottom-1 after:absolute after:left-full after:ml-[1px] after:border after:border-white after:block bg-white border border-midGray absolute top-0 h-12 w-1/6 left-1 disabled:hidden z-10 flex items-center justify-center -ml-1" data-prev>
                            <span class="block w-3 h-3 rotate-90">{% render 'icons' icon: 'chevron' %}</span>
                        </button>
                    </swiper-carousel>
                </div>
            {% endif %}
    
            <a href="{{ collection.url }}{{ product.url }}" style="text-decoration-thickness: 1px; text-underline-offset: 10%;" class="block duration-500 font-medium text-heading group-hover:underline py-1 text-lg transition">
                {{ product.title }}
            </a>
            <span class="flex flex-wrap items-center justify-start">
                {% if customer.tags contains 'Wholesale' or customer.tags contains 'Oak Rev' %}
                    <span class="money">
                        <s class="text-red-400">{{ product.price | money }}</s>
                        {% render 'wholesale-price-discount' with product as product %}
                    </span>
                {% else %}
                    <span class="price{% if on_sale %} on-sale{% endif %}">
                        {% if product.price_varies %}from{% endif %}
                        <span class="money">{{ product.price | money }}</span>
                    </span>
                {% endif %}
            </span>
        </div>
    </span>
</product-tile>
