<script src="{{ 'customer.js' | asset_url }}" defer></script>

<!-- modal-forms -->
<modal-form data-address-id="EditAddress_new_form" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-30 bg-black hidden bg-opacity-40 overflow-y-scroll">
  <div class="bg-white shadow p-16">
    <div id="EditAddress_new_form">
      <h2 class="text-2xl font-bold font-heading" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>  
      {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
        <div class="field">      
          <label class="p-2 font-heading" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
        </div>
        <div class="field">   
          <label class="p-2 font-heading" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>       
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
        </div>
        <div class="field">          
          <label class="p-2 font-heading" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
        </div>
        <div class="field">          
          <label class="p-2 font-heading" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>  
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
        </div>
        <div class="field">          
          <label class="p-2 font-heading" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
        </div>
        <div class="field">  
          <label class="p-2 font-heading" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>        
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
        </div>
        <div class="field">
          <label class="p-2 font-heading" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select
              class="w-full"
              id="AddressCountryNew"
              name="address[country]"
              data-default="{{ form.country }}"
              autocomplete="country"
            >
              {{ all_country_option_tags }}
            </select>
        </div>
        <div class="field" id="AddressProvinceContainerNew" style="display: none">
          <label class="p-2 font-heading" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          <select
            class="w-full"
            id="AddressProvinceNew"
            name="address[province]"
            data-default="{{ form.province }}"
            autocomplete="address-level1"
          >
          </select>
        </div>
        <div class="field">
          <label class="p-2 font-heading" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          <input class="flex-grow md:mx-4 h-8" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
        </div>
        <div class="field">
          <label class="p-2 font-heading" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          <input class="flex-grow md:mx-4 h-8" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
        </div>
        <div>
          {{ form.set_as_default_checkbox }}
          <label class="p-2 font-heading" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
        </div>
        <div class="grid md:grid-cols-2 gap-2 my-4">
          <button class="btn border border-dark btn-dark btn-full">{{ 'customer.addresses.add' | t }}</button>
          <button data-modal-close class="btn border border-dark uppercase" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
      {%- endform -%}
    </div>
  </div>
</modal-form>

{%- for address in customer.addresses -%}
  <modal-form data-address-id="form-{{ address.id }}" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-30 bg-black hidden bg-opacity-40 overflow-y-scroll">
    <div class="bg-white shadow p-16">
      <!--- start edit form -->
      <div id="EditAddress_{{ address.id }}">
        <h2 class="text-2xl font-bold font-heading">{{ 'customer.addresses.edit_address' | t }}</h2>
        {%- form 'customer_address', address -%}
          <div class="field">  
            <label class="p-2 font-heading" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>             
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
          </div>
          <div class="field">      
            <label class="p-2 font-heading" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>          
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
          </div>
          <div class="field">
            <label class="p-2 font-heading" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
          </div>
          <div class="field">
            <label class="p-2 font-heading" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
          </div>
          <div class="field">
            <label class="p-2 font-heading" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
          </div>
          <div class="field">
            <label class="p-2 font-heading" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
          </div>
          <div class="field">
            <label class="p-2 font-heading" for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select
              class="w-full"
              id="AddressCountry_{{ form.id }}"
              name="address[country]"
              data-address-country-select
              data-default="{{ form.country }}"
              data-form-id="{{ form.id }}"
              autocomplete="country"
            >
              {{ all_country_option_tags }}
            </select>
          </div>
          <div class="field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
            <label class="p-2 font-heading" for="AddressProvince_{{ form.id }}">
              {{ 'customer.addresses.province' | t }}
            </label>
              <select
                class="w-full"
                id="AddressProvince_{{ form.id }}"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              >
              </select>
              
          </div>
          <div class="field"> 
            <label class="p-2 font-heading" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>               
            <input class="flex-grow md:mx-4 h-8" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
          </div>
          <div class="field"> 
            <label class="p-2 font-heading" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>               
            <input class="flex-grow md:mx-4 h-8" type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
          </div>
          <div>
            {{ form.set_as_default_checkbox }}
            <label class="p-2 font-heading" for="address_default_address_{{ form.id }}">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>
          <div class="grid md:grid-cols-2 gap-2 py-2">
            <button class="btn border border-dark btn-dark btn-full btn-sm">{{ 'customer.addresses.update' | t }}</button>
            <button data-modal-close class="btn border border-dark uppercase btn-sm" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        {%- endform -%}
      </div>
      <!--- end edit form -->
    </div>
  </modal-form>
  <modal-form data-address-id="delete-{{ address.id }}" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-30 bg-black hidden bg-opacity-40 overflow-y-scroll">
    <div class="bg-white shadow p-16">
      <form class="address-delete-form"
        method="post"
        action="/account/addresses/{{ address.id }}"
      >
        <input type="hidden" name="_method" value="delete">
        <span class="font-heading text-lg pb-8 text-center">Are you sure you want to delete this address?</span>
        <div class="grid md:grid-cols-2 gap-2 py-2">
          <button class="btn border border-dark btn-dark btn-sm btn-full" type="submit">{{ 'customer.addresses.delete' | t }}</button>
          <button data-modal-close class="btn border border-dark btn-full  uppercase btn-sm" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
      </form>
    </div>
  </modal-form>

{%- endfor -%}

<!-- end modal forms -->

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses container flex flex-col leading-loose p-8" data-customer-addresses>
    <div class="pb-4 border-b">
      <h1 class="text-4xl font-bold font-heading">{{ 'customer.addresses.title' | t }}</h1>
      <a class="font-heading underline" href="{{ routes.account_url }}">
        {{ 'customer.account.return' | t }}
      </a>
    </div>      
    
    <div class="md:col-span-3 py-8">
      <ul role="list" class="grid md:grid-cols-3 gap-4">
        {%- for address in customer.addresses -%}
          <li class="flex flex-col p-16 shadow" data-address>
            {%- if address == customer.default_address -%}
              <h2 class="text-2xl font-bold font-heading pt-2">{{ 'customer.addresses.default' | t }}</h2>
            {%- else -%}
              <h2 class="text-2xl font-bold font-heading pt-2">Address {{ forloop.index}}</h2>
            {%- endif -%}
            <div class="leading-tight py-4">
              {{ address | format_address }}
            </div>
            <div class="grid grid-cols-2 gap-2">
              <button
                class="btn border border-dark btn-dark btn-sm btn-full"
                type="button"
                data-edit-form="form-{{ address.id }}"
                aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                aria-controls="EditAddress_{{ address.id }}"
                aria-expanded="false"
                data-address-id="{{ address.id }}"
              >
                {{ 'customer.addresses.edit' | t }}
              </button>
              <button
                class="btn border border-dark btn-sm btn-full"
                type="button"
                data-edit-form="delete-{{ address.id }}"
                aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                data-target="{{ address.url }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
              >
                {{ 'customer.addresses.delete' | t }}
              </button>
            </div>
          </li>
        {%- endfor -%}
        <li>
          <button
            data-edit-form="EditAddress_new_form"
            class="btn border border-dark btn-dark btn-sm"
            type="button"
            aria-expanded="false"
            aria-controls="AddAddress"
          >
            {{ 'customer.addresses.add_new' | t }}
          </button>
        </li>
      </ul>
    
      {% render 'pagination' with paginate as paginate %}
    </div>
  </div>
{%- endpaginate -%}
